{% extends 'base.html.twig' %}
{% block title %}Quacks
{% endblock %}
{% block body %}
	{% if errors is defined and errors is not empty %}
		{% for error in errors %}
			<div class="bg-red-500 text-white p-2">
				{{ error.message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="container w-full md:max-w-3xl mx-auto pt-20">
		{% include 'quack/title.html.twig' %}
		{% if quacks is defined and quacks is not empty %}
			{% for quack in quacks %}
				{% if not quack.getIsOld() and quack.getParent() is null %}
					<div class="relative p-6 bg-gradient-to-tr from-green-100 to-transparent rounded-md shadow-md mb-2">
						<div class="absolute right-2">
							<div class="flex flex-col">
								<div class="flex content-start justify-center gap-2">
									{% if is_granted('edit', quack) %}
										<a class="bg-white p-2 rounded-xl shadow-sm text-sm uppercase cursor-pointer hover:shadow-xl transition-all ease-in" href="{{ path('edit_quack', { id: quack.getId() }) }}">
											Edit
										</a>
										<a class="w-4 md:w-6 cursor-pointer transform transition-all ease-in hover:scale-125 flex content-center" href="{{ path('delete_quack', { id: quack.getId() }) }}"><img src="{{ asset('img/icons/delete.svg') }}" alt="Delete"></img>
									{% endif %}
								</div>
								<div class="ml-auto">
									<a class="underline hover:text-white transition-all ease-in" href="{{ path('diffs_quack', { id: quack.getId() }) }}">Diffs</a>
								</div>
							</div>
						</a>
					</div>
					<h3 class="tracking-widest uppercase font-thin">Quack n°
						{{ quack.getId() }}</h3>
					<span class="text-sm font-light">le
						{{ quack.getCreatedAt()|format_datetime('full', 'none', locale='fr') }}
						par
						{{ quack.getDuck().getDuckName() }}</span>
					<div class="relative">
						<div class="relative mt-2 p-2 bg-green-100 max-w-max rounded-md">
							{{ quack.getContent()|raw }}
						</div>
						{% if quack.getPicture() is not empty %}<img style="left: calc(100% - 8rem);" class="relative w-32 mr-4" src="/uploads/pictures/{{ quack.getPicture() }}"></img>
					{% endif %}
				</div>
				{% if user is not null %}
				<div class="flex flex-row justify-end gap-4">
					<form action="{{ path('like_quack', { id: quack.getId() }) }}" method="POST"><button type="submit"><img class="cursor-pointer w-8 transform transition-all ease-in hover:scale-125" src={% if user in quack.getDucks() %} "/img/icons/like-filled.svg" {% else %} "/img/icons/like.svg" {% endif %} alt="Comment"></button></form>
					<img id="toggleComment{{ quack.getId() }}" class="toggleComment cursor-pointer w-8 transform transition-all ease-in hover:scale-125" src="/img/icons/chat.svg" alt="Like">
				</div>
				{% endif %}
			</div>
			{% if user is not null %}
				<div id="commentBox{{ quack.getId() }}" class="-mt-3 mb-2 p-0 bg-gradient-to-br from-yellow-300 to-transparent transition-all ease-in h-0 overflow-hidden">
					{% include 'quack/comments/input.html.twig' with {'id': quack.getId() } %}
					{% include 'quack/comments/list.html.twig' with {'quack': quack } %}
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% else %}
	All ducks have been hunt.
{% endif %}</div>{% endblock %}
