<ul class="p-1">
	<h2 class="text-2xl my-2">Comments List</h2>
	{% if quack.getComments() is not empty %}
	{% for comment in quack.getComments() %}
		<li class="flex justify-between mb-4">
			<div class="flex flex-col">
			<div>{{ comment.getContent()|raw}}</div>
			<div class="text-sm font-light w-full">
				comment posted the
				{{ quack.getCreatedAt()|format_datetime('full', 'none', locale='fr') }}
				par
				{{ quack.getDuck().getDuckName() }}
			</div>
			</div>
			{% if user is not null and (quack.getDuck().getId() == user.getId() or quack.getParent().getDuck().getId() == user.getId()) %}
			<div class="relative">
				<a style="top: 0; left: calc(100% - 4.5rem);" class="relative bg-white p-2 rounded-xl shadow-sm text-sm uppercase cursor-pointer hover:shadow-xl transition-all ease-in mr-2" href="{{ path('edit_quack', { id: comment.getId() }) }}">
					Edit
				</a>
				<a style="top: 0; left: calc(100% - 1rem);" class="absolute w-4 md:w-6 cursor-pointer transform transition-all ease-in hover:scale-125 flex content-center" href="{{ path('delete_quack', { id: comment.getId() }) }}"><img src="{{ asset('img/icons/delete.svg') }}" alt="Delete"></img></a>
			</div>
			{% endif %}
		</li>
		{% if comment != quack.getComments()|last %}
			<hr class="w-full mb-4">
			{% endif %}
	{% endfor %}
	{% else %}
		<span class="text-shadow">Nobody has quacked here yet, can you believe it?</span>
	{% endif %}
</ul>
