<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Quacks III Arena : Duck Tales
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
										           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block customCSS %}{% endblock %}
	</head>
	<body>
		<div class="bg-gray-100 font-sans leading-normal tracking-normal min-h-screen">
			<nav id="header" class="fixed-w-full z-10 top-0 bg-gradient-to-b from-green-500 to-transparent">
				<div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
					<div class="pl-4">
						<img class="w-4 inline" src="{{ asset('img/icons/duck.svg') }}" alt="Duck">
						<a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold" href="{{ path('quacks') }}">
							Quacks III Arena
						</a>
					</div>
					<div class="block lg:hidden pr-4">
						<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-700 appearance-none focus:outline-none">
							<svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>Home</title>
								<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
							</svg>
						</button>
					</div>
					<div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
						<ul class="list-reset lg:flex justify-end flex-1 items-center">
							<li class="mr-3">
								<a class="inline-block py-2 px-4 {% if operation is not defined or operation == 'home' or operation == 'diffs' %} text-yellow-300 font-bold {% else %} text-gray-600 hover:text-gray-900 {% endif %} no-underline" href="{{ path('quacks') }}">
									{% if operation == 'diffs' %}
										Diffs
									{% else %}
										Home
									{% endif %}
								</a>
							</li>
							<li class="mr-3">
								<a class="inline-block py-2 px-4 {% if operation == 'create' or operation == 'edit' %} text-yellow-300 font-bold {% else %} text-gray-600 hover:text-gray-900 {% endif %} no-underline" href="{{ path('create_quack') }}">
									{% if operation == 'edit' %}
										Edit
									{% else %}
										Add
									{% endif %}
								</a>
							</li>
							{% if is_granted('ROLE_USER') %}
								<li class="mr-3">
									<a class="inline-block py-2 px-4 {% if operation == 'profile' %} text-yellow-300 font-bold {% else %} text-gray-600 hover:text-gray-900 {% endif %} no-underline" href="{{path('profile')}}">My Profile</a>
								</li>
							{% endif %}
							<li class="mr-3">
								<a class="inline-block py-2 px-4 {% if operation == 'login' or operation == 'register' %} text-yellow-300 font-bold {% else %} text-gray-600 hover:text-gray-900 {% endif %} no-underline" href="{% if is_granted('ROLE_USER') %} {{path('app_logout')}} {% else %} {{path('app_login')}} {% endif %}">
									{% if is_granted('ROLE_USER') %}
										Logout
									{% elseif operation == 'register' %}
										Register
									{% else %}
										Login
									{% endif %}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
