{% extends 'base.html.twig' %}
{% block title %}Quacks
{% endblock %}
{% block body %}
	<div class="container w-full md:max-w-3xl mx-auto pt-20">
		{% include 'quack/title.html.twig' with {'id': quack.getId() } %}
		{% if quacks is defined and quacks is not empty %}
			<div class="relative p-6 bg-gradient-to-tr from-green-100 to-transparent rounded-md shadow-md mb-2">
				{% for quack in quacks %}
					<h3 class="tracking-widest uppercase font-thin">Quack n°
						{{ quack.getId() }}</h3>
					<span class="text-sm font-light">le
						{{ quack.getCreatedAt()|format_datetime('full', 'none', locale='fr') }}
						par
						{{ quack.getDuck().getDuckName() }}</span>
					<div class="relative justify-between mb-4">
						<div class="relative mt-2 p-2 bg-green-100 max-w-max rounded-md">
							{{ quack.getContent()|raw }}
						</div>
						{% if quack.getPicture() is not empty %}<img style="left: calc(100% - 8rem);" class="relative w-32 mr-4" src="/uploads/pictures/{{ quack.getPicture() }}"></img>
					{% endif %}
				</div>
				<hr class="mb-4">
			{% endfor %}
		</div>
	</div>
{% else %}
	There can be only one Werther's Original.
{% endif %}</div>{% endblock %}
